* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("./image/landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* display: flex; */
}

#gameGuide {
  border-radius: 30px;
  color: rgb(60, 44, 206);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-ver-center {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}
#gameGuide ul > li {
  list-style: none;
}

/* #start {
  position: absolute;
  top: 600px;
  left: 800px;
  margin-top: 100px;
  border-radius: 20px;
  width: 300px;
  height: 150px;
  background-color: aquamarine;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: color 4s linear 0.5s infinite;
}
@keyframes color {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: rgb(75, 235, 195);
  }
  100% {
    background-color: rgb(241, 164, 100);
  }
} */
/* #btn {
  border: none;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  font-size: 30px;
  color: chartreuse;
  animation: puff-in-center 2s cubic-bezier(0.47, 0, 0.745, 0.715) infinite both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
} */
#top {
  display: flex;
  justify-content: space-between;
}
.img {
  display: block;
}
#cloud1 {
  width: 200px;
  height: 100px;
  position: relative;
  top: 370px;
  left: 110px;
}
#cloud2 {
  width: 90px;
  height: 50px;
  position: relative;
  top: 390px;
  left: 300px;
}
#cloud3 {
  position: relative;
  top: 0px;
  right: 100px;
}
#orange {
  width: 200px;
  position: absolute;
  top: 500px;
  left: 1600px;
}
#cerise {
  width: 200px;
  position: absolute;
  top: 500px;
  left: 1200px;
}
