@import url(https://fonts.googleapis.com/css?family=VT323);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url(./image/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-panel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#lifePoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100px;
}

.heartImg {
  display: block;
  border-radius: 50%;
}
#score {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#score #hit {
  font-size: 90px;
}
.hit {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-14px);
  }
  20%,
  40%,
  60% {
    transform: translateX(14px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

#gameContainer {
  border-bottom: 16px inset rgba(150, 105, 7, 0.8);
  border-left: 16px inset rgba(196, 151, 54, 0.8);
  border-right: 16px inset rgba(148, 104, 9, 0.8);
  border-top: 16px inset rgba(196, 151, 54, 0.8);
  border-radius: 5px;
  background-image: url(./image/grass_14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 1000px;
  height: 600px;
}

.countDown {
  width: 300px;
  font-family: "VT323", monospace;
  padding: 0 20px;
  color: rgb(92, 145, 194);
  font-size: 90px;
  border-radius: 20px;
}

#main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#left {
  padding: 30px 0px;
  width: 300px;
  height: 500px;
  background-color: rgb(131, 247, 206);
  opacity: 0.8;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 6px inset rgba(255, 255, 255, 0.089);
  border-left: 6px inset rgba(255, 255, 255, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

#cloudrainbow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  font-family: "VT323", monospace;
  width: 300px;
  height: 500px;
  background-color: aquamarine;
  opacity: 0.7;
  border-radius: 30px;
  border-bottom: 6px inset rgba(255, 255, 255, 0.089);
  border-left: 6px inset rgba(255, 255, 255, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

#fraise {
  margin: 32px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cerise {
  margin: 32px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#orange {
  margin: 32px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#guava {
  margin: 32px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#fraise div span {
  font-size: 70px;
  color: rgb(233, 121, 40);
}

#cerise div span {
  font-size: 70px;
  color: rgb(233, 121, 40);
}

#orange div span {
  font-size: 70px;
  color: rgb(233, 121, 40);
}

#guava div span {
  font-size: 70px;
  color: rgb(233, 121, 40);
}

#left-panel {
  margin-left: -50px;
  font-family: fantasy;
  font-size: 40px;
  color: rgb(159, 51, 202);
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

#bunch {
  margin-top: 40px;
}

#score {
  width: 500px;
  height: 200px;
  color: rgb(214, 73, 85);
  font-size: 100px;
  font-style: bold;
  font-family: fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  font-family: "VT323", monospace;
  background: #079933;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;

  &:focus,
  &:hover {
    background: #bcbcbc;
  }
}
