* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url(./image/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top-panel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#lifePoint {
  border: 5px dashed rgb(180, 56, 56);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100px;
}
.heartImg {
  display: block;
  border-radius: 50%;
}
#gameContainer {
  background-image: url(./image/grass_14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 1000px;
  height: 600px;
  border: 15px solid rgb(187, 114, 45);
}

.countDown {
  width: 300px;
  font-family: fantasy;
  padding: 0 20px;
  color: rgb(92, 145, 194);
  font-size: 90px;
  border-radius: 20px;
}
#main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#left-panel {
  margin-left: -50px;
  font-family: fantasy;
  font-size: 40px;
  color: rgb(159, 51, 202);
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

#score {
  width: 500px;
  height: 200px;
  color: rgb(202, 62, 74);
  font-size: 100px;
  font-style: bold;
  font-family: fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  margin: 20px;
  padding: 0 10px;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  background-color: aquamarine;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: color 4s linear 0.5s infinite;
}
@keyframes color {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: rgb(75, 235, 195);
  }
  100% {
    background-color: rgb(241, 164, 100);
  }
}
#btn {
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  font-size: 30px;
  color: chartreuse;
  animation: puff-in-center 2s cubic-bezier(0.47, 0, 0.745, 0.715) infinite both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes start {
  0% {
    background-size: 50%;
  }
  100% {
    background-size: cover;
  }
}
