* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./image/landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: fantasy;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(201, 44, 75);
  animation: shake-horizontal 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

main {
    font-style: bold;
  margin: -90px 20px 0 0;
  color: rgb(31, 16, 167);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main ul li {
    list-style: none;
}

main ul li span {
    color: rgb(240, 13, 13);
}


p {
  margin: 9px 0px;
  animation: shadow-drop-2-center 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
}

@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}

footer {
  color: rgb(111, 193, 196);
  font-size: 40px;
  text-align: center;
}

#cloud1 {
  position: relative;
  top: 180px;
  left: 140px;
}

#cloud2 {
  position: relative;
  top: 180px;
  left: 1120px;
}

#cloud3 {
  position: relative;
  top: -100px;
  left: 1400px;
}
